# Переименуйте этот файл в .env и замените заполнители на реальные значения

# Django Debug Mode
DEBUG=True

# Секретный ключ Django
SECRET_KEY=your_secret_key_here

# PostgreSQL конфигурации
DB_NAME=shopdb
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Redis конфигурации
REDIS_LOCATION=redis://redis:6379/1
