# Переименуйте этот файл в .env и замените заполнители на реальные значения

# Django Debug Mode
DEBUG=True

# Секретный ключ Django
SECRET_KEY=your_secret_key_here

# PostgreSQL конфигурации
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=db
DB_PORT=5432

# Redis конфигурации
REDIS_LOCATION=redis://redis:6379/1
